<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true"
      internalLogLevel="Off">

    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <targets>
        <target name="console" xsi:type="Console">
            <layout xsi:type="JsonLayout" includeEventProperties="false">
                <attribute name="timestamp"
                           layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
                <attribute name="level" layout="${level:upperCase=true}" />
                <attribute name="logger" layout="${logger}" />
                <attribute name="message" layout="${message}" />
                <attribute name="traceIdentifier" layout="${aspnet-TraceIdentifier}" />
                <attribute name="exception" layout="${exception:format=ToString}" />
                <attribute name="properties" encode="false">
                    <layout xsi:type="JsonLayout"
                            includeEventProperties="true"
                            renderEmptyObject="false"
                            maxRecursionLimit="2" />
                </attribute>
            </layout>
        </target>
    </targets>

    <rules>
        <logger name="Microsoft.Hosting.Lifetime*" minlevel="Info" writeTo="console" final="true" />
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="System.*" maxlevel="Info" final="true" />
        <logger name="*" minlevel="Info" writeTo="console" />
    </rules>
</nlog>
